{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>Document</title>
</head>
<body>
    
    <div class="container">
        <h1>Home</h1>
        {% if user.is_authenticated %}
        <h2>Welcome {{ user.username }}</h2>
        <a href="{% url 'service_list' %}">الرئيسية</a> 
        <a href="{% url 'logout' %}">تسجيل خروج</a>
        {% endif %}
        {% if not user.is_authenticated %}
        <a href="{% url 'login' %}">Login</a>  
        <a href="{% url 'register' %}">Register</a>
        {% endif %}
    </div>

</body>
</html>